<div class="item word-pane">
    <!--word-->
    <div class="area_word">
        <p class="no" style="display: none">{{no}}</p>
        <p class="word">{{word}}</p>
        <p class="word-pron">{{pron}}</p>
    </div>
    <!--Mean-->
    <div class="area_mean">
        <p class="cen_txt">
            <span class="word-mean">{{mean}}</span>
        </p>
    </div>
    <!--Example-->
    <div class="area-ex">
        <p class="ex-word">{{ex-word}}</p>
        <p class="ex-mean">{{ex-mean}}</p>
    </div>
</div>